<header class="position-fixed top-0 w-100">
  <nav class="navbar navbarSuperiore navbar-expand-md">
    <div class="container-fluid">
      <h1 id="nomeSito" class="mb-0">CEX-CLONE</h1>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span><i class="fa-solid fa-gamepad"></i></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" [routerLink]="['/']">Home</a>
          </li>
          <li class="nav-item" >
            <a class="nav-link" [routerLink]="['/login']" *ngIf="!token">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/registrazione']" *ngIf="!token">Registrati</a>
          </li>
          <li class="nav-item" >
            <a class="nav-link" [routerLink]="['/carrello']" *ngIf="token">Carrello</a>
          </li>
          <li class="nav-item" >
            <a class="nav-link" [routerLink]="['/listapreferiti']" *ngIf="token">Lista dei preferiti</a>
          </li>
          <li class="nav-item" >
            <a class="nav-link" [routerLink]="['/datiUtente']" *ngIf="token">Il tuo spazio personale</a>
          </li>
          <li class="nav-item" >
            <button class="btn btn-primary" (click)="logout()" *ngIf="token">Logout</button>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>

<footer class="position-fixed bottom-0">
  <nav class="navbar navbarInferiore">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarNavInferiore">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/filmtv']">Film e TV</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/musica']">Prodotti musicali</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/videogioco']">Videogiochi</a>
          </li>
        </ul>
      </div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavInferiore"
        aria-controls="navbarNavInferiore" aria-expanded="false" aria-label="Toggle navigation">
        <span><i class="fa-solid fa-gamepad"></i></span>
      </button>
    </div>
  </nav>
</footer>
