<div class="card mx-auto mx-md-3 my-3 d-md-inline-block w-md-25 bg-primary" *ngFor="let musica of musiche"
  style="width: 18rem;">
  <img class="card-img-top" src={{musica?.immagine}} alt="Immagine Disco">
  <ul class="list-group list-group-flush">
    <li class="list-group-item">{{musica?.titolo}}</li>
    <li class="list-group-item">{{musica?.autore}}</li>
    <li class="list-group-item">{{musica?.editore}}</li>
    <li class="list-group-item">{{musica?.formatoDisco}}</li>
    <li class="list-group-item">{{musica?.prezzo}}€</li>
    <li class="list-group-item" *ngIf="token">

      <span *ngIf="musica.acquistabile"><button id="aggiungiAlCarrello"
        (click)="aggiungiAlCarrello(musica.codiceControllo)" (click)="ricaricaPagina()" *ngIf="!musica.nelCarrello"
        class="btn btn-primary m-2">
        Aggiungi <i class="fa-solid fa-cart-shopping"></i></button></span>

        <button id="vaiAlCarrello" *ngIf="musica.nelCarrello" [routerLink]="['/carrello']"
        class="btn btn-success m-2">
        Nel carrello</button>

        <span *ngIf="!musica.acquistabile">
          <span *ngIf="!musica.nelCarrello">
            <p class="p-2 bg-danger rounded text-white d-inline-block m-2">Esaurito <i class="fa-solid fa-xmark"></i></p></span></span>

        <button id="aggiungiAllaListaPreferiti" *ngIf="!musica.nellaLista" (click)="aggiungiAllaListaPreferiti(musica.codiceControllo)"
        (click)="ricaricaPagina()" class="btn btn-primary m-2">
        Preferito <i class="fa-regular fa-circle"></i></button>

        <button id="rimuoviDallaListaPreferiti" *ngIf="musica.nellaLista" (click)="rimuoviDallaListaPreferiti(musica.codiceControllo)"
        (click)="ricaricaPagina()" class="btn btn-success m-2">
        Preferito <i class="fa-regular fa-circle-check"></i></button></li>
  </ul>
</div>
